.sonic-logo {
	position: absolute;
    left: 39%;
    margin-left: -50px !important;
    display: block;
    padding-top: 15PX;
    width: 22%;
}

.delete-destination {
	font-size: 17px; 
	color: #ec4758;
}

.delete-destination:hover {
	cursor: pointer;
	color: #c9302c;
}

.edit-destination {
	font-size: 17px; 
	color: #f7a54a;
}

.edit-destination:hover {
	cursor: pointer;
	color: #ec971f;
}