.sonic-logo {
	position: absolute;
    left: 39%;
    margin-left: -50px !important;
    display: block;
    padding-top: 15PX;
    width: 22%;
}

.delete-destination {
	font-size: 14px; 
	color: darkred;
}

.delete-destination:hover {
	cursor: pointer;
	color: red;
}