 <template name="analytics">

    {{> pageHeading title='Analytics' }}

  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Ticket Sales Chart</h5>
            </div>
            <div class="ibox-content">

                <div>
                  <canvas id="lineChart" height="140"></canvas>
                </div>
            </div>
        </div>
      </div>
  </div>
 </template>


