<template name="createMembersModalTemplate">
    <div class="modal inmodal fade in" id="createMembersModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <i class="fa fa-calendar modal-icon"></i>
                    <h4 class="modal-title">Add a Member</h4>
                </div>
                <form class="form-horizontal" id="create-schedule-form" novalidate="false">
                    <div class="modal-body">

                        <div class="form-group"><label class="col-lg-4 control-label">First Name</label>
                            <div class="col-lg-8">
                                <div class="input-group">
                                    <select data-placeholder="John" class="chosen-firstname" id="firstname" name="first name" style="width:350px;" tabindex="2">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-4 control-label">Last Name</label>
                            <div class="col-lg-8">
                                <div class="input-group">
                                    <select data-placeholder="Smith" class="chosen-lastname" id="lastname" name="lastname" style="width:350px;" tabindex="2">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        </div>
                        <div class="form-group"><label class="col-lg-4 control-label">Date of Birth</label>
                            <div class="col-lg-8">
                                <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input type="text" name="date" id="dob" class="form-control required" >
                                </div>
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-4 control-label">Email</label>
                            <div class="col-lg-8">
                                <div class="input-group">
                                    <select data-placeholder="Smith" class="chosen-email" id="lastname" name="email" style="width:350px;" tabindex="2">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-4 control-label">Phone Number</label>
                            <div class="col-lg-8">
                                <div class="input-group">
                                    <select data-placeholder="Smith" class="chosen-phonenumber" id="phonenumber" name="number" style="width:350px;" tabindex="2">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Create Schedule</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>