<template name="destinations">

    {{> pageHeading title='Destinations' }}

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="m-t-lg">
                    <h1>
                        Destinations
                    </h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Add a Destination</h5>
                    </div>
                    <div class="ibox-content">
                        <form role="form" id="destination-form" class="form-inline">
                                <div class="form-group">
                                <input type="text" name="location" placeholder="Enter location" id="location" class="form-control required"></div>
                                <div class="form-group">
                                <input type="text" name="min" id="iso" placeholder="Enter ISO Code" class="form-control required"></div>
                            <button class="btn btn-primary" type="submit" style="margin-bottom: 0px;">Add Destination</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Current Destinations</h5>
                    </div>
                    <div class="ibox-content">

                        <table class="table">
                            <thead>
                            <tr>
                                <th>Location</th>
                                <th>ISO Code</th>
                                <th>Created By</th>
                                <th>Functions</th>
                            </tr>
                            </thead>
                            <tbody>
                                {{#each destinations}}
                                    {{> destination}}
                                {{/each}}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> editDestinationModalTemplate}}
</template>

<template name="destination">
    <tr>
      <td>{{location}}</td>
      <td>{{iso}}</td>
      <td>{{createdBy}}</td>
      <td>
        <i class="fa fa-trash delete-destination" data-toggle="tooltip" data-placement="left" title="" data-original-title="Delete this destination" loc-id="{{_id}}" location="{{location}}" iso="{{iso}}" aria-hidden="true"></i> &nbsp; &nbsp;
        <i class="fa fa-pencil edit-destination" data-toggle="tooltip" data-placement="right" title="" data-original-title="Edit this destination" data-loc-id="{{_id}}" location="{{location}}" iso="{{iso}}" aria-hidden="true"></i>
      </td>
    </tr>
</template>