<template name="navigation">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">

            <!-- Close canvas menu used only on OffCanvas page -->
            <!-- You can remove this tag if you dont use offCanvas menu -->
            <a class="close-canvas-menu"><i class="fa fa-times"></i></a>
            <!-- End offCanvas menu toggle -->

            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> 
                                <span class="block m-t-xs"> 
                                    <strong class="font-bold">{{ currentUserName }} </strong><br>
                                    <strong class="font-bold">{{ currentUserEmail }} </strong>
                                </span>
                                <span class="text-muted text-xs block">status: <span class="label label-warning">user</span></span> 
                            </span> 
                        </a>
                    </div>
                    <div class="logo-element">
                        IN+
                    </div>
                </li>
                <li class="{{isActiveRoute regex='destinations'}}">
                    <a href="{{pathFor route='destinations'}}"><i class="fa fa-globe"></i> <span class="nav-label">Destinations</span> </a>
                </li>          <li class="{{isActiveRoute regex='schedules'}}">
                    <a href="{{pathFor route='schedules'}}"><i class="fa fa-calendar"></i> <span class="nav-label">Schedules</span> </a>
                </li>
            </ul>

        </div>
    </nav>
</template>