<template name="topNavbar">
    <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a id="navbar-minimalize" class="minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            </div>
            <img class="sonic-logo" src="images/sonic-logo.png">
            <ul class="nav navbar-top-links navbar-right">
                     <li class="dropdown" style="width: 85px;">
                    <a class="dropdown-toggle btn btn-white set_en" data-toggle="dropdown" href="#" style="background: #f3f3f4;">
                        <img src="img/flags/32/United-States.png"> EN
                    </a>
                    <ul class="dropdown-menu" style="width: 85px; min-width: 0px; background: #f3f3f4;">
                        <li>
                            <a class="btn btn-white set_fr" style="background: #f3f3f4; padding-left: 11px;"><img src="img/flags/32/France.png"> FR</a>
                            <a class="btn btn-white set_es" style="background: #f3f3f4; padding-left: 11px;"><img src="img/flags/32/Spain.png"> ES</a>
                        </li>
                    </ul>
                </li>
                    {{#if currentUser}}
                        <li>
                            <a class="logout" href="#">
                                <i class="fa fa-sign-out"></i> Log out
                            </a>
                        </li>
                    {{else}}
                        <li>
                            <a href="{{pathFor route='register'}}">
                                <i class="fa fa-user-plus"></i> Register
                            </a>
                        </li>
                        <li>
                            <a href="{{pathFor route='login'}}">
                                <i class="fa fa-sign-in"></i> Log in
                            </a>
                        </li>
                    {{/if}}

            </ul>

        </nav>
    </div>
</template>